// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//// Fontawesome
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';


// 全局通用样式 universal
body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: black;

  ul li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

}

// ======================== 电脑主页样式 ====================//

// 电脑主页 logo
.logo {
  .logo-body {
    height: 100px;
    background: black;

    a {
      font-size: 14px;
      line-height: 5px;
    }
  }

  .logo-img:hover {
    border-bottom: 10px solid #5F2903;
    transform: scale(1.06);
  }
}

// 电脑主页注册登录
.register-box {
  height: 28px;

  img:hover {
    transform: scale(1.3);
  }

  .register-dropdown-menu {
    background: linear-gradient(red, blue);
    box-shadow: 10px 10px 5px #211F1C;
    display: none;
  }

  .lg-header-avatar:hover .register-dropdown-menu {
    display: block;
  }
}

// 电脑主页书本导航
.root-nav {
  .root-nav-l {
    height: 150px;
    line-height: 150px;
    margin-left: 40px;

    ul li {
      display: inline-block;
      width: 50px;
      height: 140px;
      text-align: center;
      margin-top: 7px;
      line-height: 22px;
      background: linear-gradient(to left, #000000, #A25900);

      &:hover {
        transform: scale(1.5);
        background: linear-gradient(to left, #000000, #E79702);
      }
    }
  }

  // 电脑主页导航右则图片
  .root-nav-r {
    margin-left: 60px;

    img:hover {
      transform: scale(1.5);
    }

    .root-nav-r-b:hover {
      transform: scale(1.3);
    }
  }
}

// 电脑主页搜索框
.search-box {
  margin-top: 50px;

  .search-box-input {
    background-color: black;
    border: black;
    border-bottom: solid 2px #ffffff;
    font-size: 16px;
    outline: none;
  }

  .search-box-imgbuttom {
    border: none;
    outline: none;
  }
}

// 清除浮动
.clear {
  height: 0;
  font-size: 0;
  clear: both;
}

// 电脑主页 root
.root-page {
  margin: 0;
  padding: 0;
  background: black;
  font-size: 18px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;

  // 电脑轮播图
  .root-carousel {
    height: 260px;
  }

  // 电脑主页各分类最新最热帖子展示区
  // 【所有分类共用样式】
  .root-category {
    a {
      font-size: 20px;
      letter-spacing: 3px;
    }

    .content-l {
      margin-left: 60px;
      float: left;

      .title-l {
        height: 50px;
        width: 280px;
        line-height: 50px;
        background: linear-gradient(#AF6001, black);
      }

      .text-l {
        height: 320px;
        width: 280px;
        background: linear-gradient(to left, #fff, #E5A55D);
      }
    }

    .content-m, .content-r {
      margin-left: 60px;
      float: left;

      .title-m, .title-r {
        height: 50px;
        width: 370px;
        line-height: 50px;
        background: linear-gradient(#AF6001, black);
      }

      .text-m, .text-r {
        height: 320px;
        width: 370px;
        background: linear-gradient(to left, #fff, #E5A55D);

        div {
          white-space: nowrap;
          width: 18.6em;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            color: black;
            font-size: 17px;
            letter-spacing: 1px;

            &:hover {
              font-size: 20px;
              text-shadow: 0 0 3px black;
            }
          }
        }
      }
    }
  }
}

// ========================= 电脑主页面底部总导航 ======================//

// 主页和分类页面大盒子
.big-box {
  height: 100%;
  width: 1263px;
}

// 电脑主页底部【总导航】
.root-footer-nav {
  width: 1100px;
  height: 20px;
  margin: auto;

  ul {
    float: left;
  }

  ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background: #000000;
  }

  ul li a {
    font-size: 18px;
  }

  ul li a:hover {
    color: #fff;
    border-bottom: 6px solid #D07F0C;
  }
}

// 电脑【主页】底部总导航红圆点
.dot-root {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background: red;
  margin: 0 23px 0 auto;
}

// 电脑各分类底部总导航红圆点
.dot-experience, .dot-myself, .dot-art, .dot-share, .dot-gift, .dot-heaven, .dot-serve, .dot-college {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background: red;
  margin: 0 6px 0 auto;
}

// 电脑【灵魂展览馆】底部总导航红圆点
.dot-show {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background: red;
  margin: 0 -3px 0 auto;
}

// ===================== 电脑主页面底部【灵魂服务-备案号】区域 ===================//

//电脑主页底部【灵魂服务】
.serve {
  height: 350px;
  background: linear-gradient(to top, #622E0D, #5F2C0D);
  margin: 0 auto;

  .serve_in {
    height: 300px;
    margin-top: 1px;
    float: left;
    border: 10px solid #000;
  }

  // 左则文字【灵魂服务】
  .serve_in_l {
    height: 260px;
    width: 50px;
    float: left;
    padding-left: 40px;
    margin-top: -25px;

    a {
      color: #ccc;
      font-size: 36px;
      font-weight: bold;
    }

    a:hover {
      color: #fff;
    }
  }

  // 电脑中间站长后台技术总监图片区域
  .serve_in_m {
    height: 260px;
    float: left;

    ul {
      list-style-type: none;
    }

    img {
      width: 200px;
      height: 200px;
      float: left;
      margin-left: 25px;
    }

    ul li {
      float: left;
      width: 250px;
      height: 250px;
      display: inline;
    }

    ul span {
      margin-left: 25px;
      margin-top: 5px;
      display: block;
      float: left;
    }

    ul a {
      color: #000;
      font-size: 16.5px;
    }

    ul a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  // 电脑右则书签导航
  .serve_in_r {
    height: 260px;
    width: 480px;
    line-height: 220px;
    margin-top: 24px;
    float: left;

    ul {
      float: left;
    }

    ul li {
      background: linear-gradient(to left, #000000, #A25900);
      float: left;
      width: 520px;
      text-align: center;
      cursor: pointer;
      writing-mode: lr-tb;
      padding-bottom: 5px;
    }

    ul li:hover {
      transform: scale(1.3);
    }

    ul li a:hover {
      color: #fff;
    }

    ul li {
      display: inline-block;
      width: 60px;
      height: 194px;
      margin-top: 7px;
      line-height: 28px;
    }

    ul li:hover {
      background: linear-gradient(to left, #000000, #E79702);
    }
  }

}

// 电脑主页最底部【备案号区】
.root-bottom {
  width: 99%;
  height: 200px;
  background: #000;
  border: 6px solid #fff;
  margin: 0 auto;
}

hr {
  background-color: white;
}

// =========================== 电脑【各分类】页面样式========================//
// 分类主标题
.experience-title {
  height: 50px;
  line-height: 50px;
  background: linear-gradient(#AF6001, black);
}

// 子分类下排序查看
.order {
  height: 45px;
  color: black;

  a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 2px;
  }
}

// 分类表头
.order-title {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to left, #FAD1A5, #E5A55D);
  border-bottom: solid 5px black;
  border-top: solid 5px black;
}

// 分类帖子内容-表格
.category-table-center {
  .text-center th {
    border-bottom: solid 2px black;
  }

  td {
    font-weight: normal;
    color: black;
    border-bottom: solid 1px black;

    a {
      color: black;
    }
  }
}

// 子分类名称区域
.subclass {
  height: 100px;
  line-height: 22px;
  background: black;
}

// 【个人宣传】标题下的分类名称
.myself-subclass {
  text-align: center;

  ul {
    padding-left: 28%;

    li a {
      font-size: 20px;
    }
  }
}

// 【灵魂艺术】标题下的分类名称
.atr-subclass {
  ul {
    padding-left: 26%;

    li a {
      font-size: 17px;
    }
  }
}

// 【灵魂服务】标题下的分类名称
.serve-subclass {
  ul {
    padding-left: 18%;

    li a {
      font-size: 18px;
    }
  }
}

// 灵魂学院子分类名称区域
.college-subclass {
  padding-left: 9%;
}

// 灵魂共享子分类名称区域
.share-subclass {
  padding-left: 22%;
  font-size: 17px;
}

// 灵魂礼赞子分类名称区域
.gift-subclass {
  padding-left: 18%;
}

.gift-subclass-title {
  position: absolute;
  z-index: 1;
  left: 150px;
}

// 灵魂展览馆子分类名称区域
.show-subclass {
  margin-left: 4%;
}

// 发布帖子入口 【笔图片】
.pen:hover {
  color: white;
}


//===================== 电脑版 其它页面顶部导航 =============================//
// 个人中心顶部导航
.lg-other-header {
  span {
    color: #FF6600;
    border-radius: 50%;
  }
}

// 头像
.lg-other-header {
  .lg-other-header-menu {
    display: none;
    background: linear-gradient(red, blue);
    box-shadow: 10px 10px 5px #211F1C;
  }

  img:hover {
    transform: scale(1.3);
  }

  // 鼠标移上头像，显示菜单
  .img-dropdown-menu:hover .lg-other-header-menu {
    display: block;
  }
}

// ==================== PC 登录 注册 页面 ================================//

.login,.register {
  background: linear-gradient(to bottom, #000000, #A25900, #000000);
}

//====================== 电脑版 topic-show  ===============================//

// topic show 左则广告文章推荐栏文字
.topic-show-left {
  line-height: 26px;
  padding-left: 10px;
  white-space: nowrap;
  width: 19em;
  overflow: hidden;
  text-overflow: clip;

  a {
    font-size: 16px;
  }

  a:hover {
    text-shadow: 2px 2px 4px #000000;
  }
}

// 社交统计信息 关注-粉丝-帖子总数
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    border-left: 1px solid #eee;
    color: #ffffff;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: #ccc;
    }
  }

  strong {
    display: block;
    font-size: 1.2em;
    color: black;
  }
}

//文章详情页面 各统计数字颜色
.topic-show-total a {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


//======================= 手机版主页 ===========================//

// 手机主页和分类顶部导航
.xs-nav-category li {
  display: block;
  border-bottom: solid 1px #584021;
}

// 手机主页诗歌背景颜色
.root-background-poetry {
  width: 85%;
  background-image: linear-gradient(to right, #D3791C, #FAEDE0, #D3791C);
}

// 手机主页分类,和分类内容背景颜色和尺寸
.root-background, .category-background {
  width: 99%;
  background-image: linear-gradient(to right, #D3791C, #FCF5ED, #D3791C);
}

// 手机分类盒子
.xs-root-category-box {
  width: 100%;
}

// 手机主页分类标题
.xs-category-title {
  h4 {
    text-shadow: 0 0 3px #000;
  }
}

// 手机主页分类最新十篇链接字体
.xs-category-title a {
  color: #000;
}

// 手机主页各分类最新十篇链接 a 标签
.xs-category-content {
  a {
    font-size: 16px;

  }
}

// 手机主页分类内容前十链接
.xs-category-up {
  white-space: nowrap;
  width: 18em;
  overflow: hidden;
  text-overflow: ellipsis;

  div {
    border-bottom: solid 1px #000;
  }
}


//====================== 手机分类 ================================//
.category-content-xs {
  a {
    color: white;
    background-color: #98520D;
  }
}


//====================== users.show =============================//
// 顶部总导航
.user-show-nav {
  li {
    width: 9.5%;
    height: 50px;
    line-height: 50px;
  }

  li a:hover {
    color: #fff;
    border-bottom: 6px solid #D07F0C;
  }
}

.user-info {
  h5, p, button {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

}

//======================= topics.show ========================//
// 手机左则帖子推荐栏
.xs_topics_recommendation {
  white-space: nowrap;
  width: 28em;
  overflow: hidden;
  text-overflow: ellipsis;

  h4 {
    margin: 10px auto;
    color: black;
    text-align: center;
    border-bottom: solid 1px #1b1e21;
    padding-right: 5px;
  }
}
